In [2]:
import pandas as pd

crimeCSV = "crimedata2.csv"
countiesCSV = "bls_counties.csv"

In [3]:
readCrime = pd.read_csv('crimedata2.csv')
readCounty = pd.read_csv('NumberUnemployed.csv')

In [5]:
groupCrime = readCrime.groupby(["county", "Year", 'state'])
totCrime = pd.DataFrame(groupCrime['count'].sum())
newCrime = totCrime.reset_index()
newCrime['county'] = newCrime['county'].str.lower()
readCounty['county'] = readCounty['county'].str.lower()
readCounty['county'] = readCounty['county'].map(lambda x: x.rstrip(' county'))
mergedDF = pd.merge(readCounty, newCrime, on=['state','county','Year'])
mergedDF

,Unnamed: 0,Year,Average (Monthly) Number Unemployed,county,state,count
0,852,2010,2709.000000,gila,AZ,2629
1,853,2011,2446.333333,gila,AZ,2613
2,854,2012,2137.083333,gila,AZ,2059
3,855,2013,2010.916667,gila,AZ,3379
4,856,2014,1770.250000,gila,AZ,2848
5,857,2015,1663.250000,gila,AZ,3773
6,858,2010,44637.416670,pima,AZ,57781
7,859,2011,39572.583330,pima,AZ,56696
8,860,2012,34100.166670,pima,AZ,56854
9,861,2013,30874.083330,pima,AZ,105118
10,862,2014,27786.750000,pima,AZ,98820
11,863,2015,25312.750000,pima,AZ,104396
12,864,2010,23315.750000,yuma,AZ,9755
13,865,2011,22257.666670,yuma,AZ,8904
14,866,2012,22377.083330,yuma,AZ,11513
15,867,2013,24162.000000,yuma,AZ,12379
16,868,2014,21263.916670,yuma,AZ,12066
17,869,2015,20184.333330,yuma,AZ,10756
18,870,2010,16464.666670,pinal,AZ,19745
19,871,2011,14615.166670,pinal,AZ,19111
20,872,2012,12694.333330,pinal,AZ,18434
21,873,2013,11950.916670,pinal,AZ,16602
22,874,2014,10692.666670,pinal,AZ,14062
23,875,2015,9797.750000,pinal,AZ,13192
24,876,2010,3848.750000,apache,AZ,847
25,877,2011,4251.916667,apache,AZ,912
26,878,2012,4323.583333,apache,AZ,993
27,879,2013,4016.416667,apache,AZ,1227
28,880,2014,3306.083333,apache,AZ,1091
29,881,2015,2722.166667,apache,AZ,846
...,...,...,...,...,...,...
5112,17952,2010,2784.250000,natrona,WY,6010
5113,17953,2011,2494.750000,natrona,WY,5268
5114,17954,2012,2145.500000,natrona,WY,5017
5115,17955,2013,1954.500000,natrona,WY,5074
5116,17956,2014,1742.916667,natrona,WY,4213
5117,17957,2015,2113.000000,natrona,WY,4559
5118,17964,2010,1586.500000,campbell,WY,2454
5119,17965,2011,1266.916667,campbell,WY,2261
5120,17966,2012,1211.666667,campbell,WY,2983
5121,17967,2013,1091.416667,campbell,WY,2612
5122,17968,2014,878.000000,campbell,WY,2573
5123,17969,2015,1022.916667,campbell,WY,2063
5124,17970,2010,413.083333,converse,WY,610
5125,17971,2011,369.583333,converse,WY,703
5126,17972,2012,342.166667,converse,WY,811
5127,17973,2013,297.000000,converse,WY,631
5128,17974,2014,250.666667,converse,WY,600
5129,17975,2015,306.333333,converse,WY,566
5130,17976,2010,63.583333,niobrara,WY,46
5131,17977,2011,57.500000,niobrara,WY,30
5132,17978,2012,52.833333,niobrara,WY,22
5133,17979,2013,48.666667,niobrara,WY,25
5134,17980,2014,45.000000,niobrara,WY,10
5135,17981,2015,40.250000,niobrara,WY,0
5136,17988,2010,332.666667,sublette,WY,314
5137,17989,2011,269.666667,sublette,WY,322
5138,17990,2012,272.000000,sublette,WY,191
5139,17991,2013,239.333333,sublette,WY,266
5140,17992,2014,208.333333,sublette,WY,172
5141,17993,2015,240.000000,sublette,WY,240