In [26]:
import pandas as pd

crimeCSV = "crimedata2.csv"
countiesCSV = "bls_counties.csv"

In [27]:
readCrime = pd.read_csv('crimedata2.csv')
readCounty = pd.read_csv('NumberUnemployed.csv')
secondCrime = pd.read_csv('CrimeData.csv')
unemployment = pd.read_csv('PercentUnemployed.csv')
laborForce = pd.read_csv('TotalEmployment.csv')

In [29]:
readCrime['county'] = readCrime['county'].str.lower()
secondCrime['county'] = secondCrime['county'].str.lower()
readCounty['county'] = readCounty['county'].str.lower()
readCounty['county'] = readCounty['county'].map(lambda x: x.rstrip(' county'))
laborForce['county'] = laborForce['county'].str.lower()
laborForce['county'] = laborForce['county'].map(lambda x: x.rstrip(' county'))
combCrime = readCrime.append(secondCrime)
combCrime.reset_index(inplace=True)
mergedDF = pd.merge(readCounty, combCrime, on=['state','county','Year'], how='inner')
unemployment['county'] = unemployment['county'].str.lower()
unemployment['county'] = unemployment['county'].map(lambda x: x.rstrip(' county'))
percentDF = pd.merge(mergedDF, unemployment, on=['state','county','Year'])
finalDF = pd.merge(percentDF, laborForce, on=['state','county','Year'])
selectColumnsDF = finalDF[['Year', 'state', 'county', 'Average (Monthly) Number Unemployed', 
                         'Average (Monthly) Percent Unemployed', 'count', 'Average Total Employment']]
formattedDF = selectColumnsDF.rename(columns={'state': 'State', 'county': 'County', 
                            'Average (Monthly) Number Unemployed': 'Average Number Unemployed',
                           'Average (Monthly) Percent Unemployed': 'Average Percent Unemployed',
                           'count': 'Number of Crimes', 'Average Total Employment': 'Total Labor Force'})
formattedDF

,Year,State,County,Average Number Unemployed,Average Percent Unemployed,Number of Crimes,Total Labor Force
0,2010,AL,lee,6005.750000,9.025000,7107,66764.166670
1,2011,AL,lee,5503.583333,8.050000,9148,68315.500000
2,2012,AL,lee,4671.250000,6.766667,8036,68918.250000
3,2013,AL,lee,4144.250000,5.858333,7441,70523.000000
4,2014,AL,lee,3987.000000,5.566667,7671,71372.166670
5,2015,AL,lee,3719.083333,5.250000,6934,70858.833330
6,2010,AL,bibb,1020.416667,11.425000,658,8934.000000
7,2011,AL,bibb,937.250000,10.475000,354,8933.416667
8,2012,AL,bibb,750.666667,8.541667,608,8797.416667
9,2013,AL,bibb,689.333333,7.916667,553,8705.666667
10,2014,AL,bibb,616.666667,7.208333,403,8561.250000
11,2015,AL,bibb,567.333333,6.625000,385,8572.333333
12,2010,AL,dale,1947.750000,8.833333,2160,22071.250000
13,2011,AL,dale,1828.916667,8.308333,3252,22016.750000
14,2012,AL,dale,1589.416667,7.425000,2925,21370.333330
15,2013,AL,dale,1530.416667,7.375000,3030,20750.333330
16,2014,AL,dale,1437.750000,7.058333,3159,20323.000000
17,2015,AL,dale,1261.666667,6.358333,2641,19836.500000
18,2010,AL,hale,971.666667,15.091667,362,6445.083333
19,2011,AL,hale,869.666667,13.825000,10,6295.500000
20,2012,AL,hale,713.083333,11.466667,232,6212.166667
21,2013,AL,hale,721.500000,11.616667,355,6207.666667
22,2014,AL,hale,595.583333,9.883333,226,6033.916667
23,2015,AL,hale,470.333333,7.783333,88,6047.583333
24,2010,AL,pike,1478.916667,9.441667,2865,15676.916670
25,2011,AL,pike,1368.083333,8.866667,2466,15438.500000
26,2012,AL,pike,1197.666667,7.975000,2595,15016.583330
27,2013,AL,pike,1138.833333,7.633333,2534,14923.500000
28,2014,AL,pike,1101.166667,7.358333,2757,14953.083330
29,2015,AL,pike,983.166667,6.583333,2528,14939.083330
...,...,...,...,...,...,...,...
10728,2010,WY,natrona,2784.250000,6.983333,6010,39894.000000
10729,2011,WY,natrona,2494.750000,6.066667,5268,41123.000000
10730,2012,WY,natrona,2145.500000,5.058333,5017,42387.416670
10731,2013,WY,natrona,1954.500000,4.533333,5074,43104.416670
10732,2014,WY,natrona,1742.916667,4.025000,4213,43354.750000
10733,2015,WY,natrona,2113.000000,4.933333,4559,42933.833330
10734,2010,WY,campbell,1586.500000,6.033333,2454,26295.750000
10735,2011,WY,campbell,1266.916667,4.900000,2261,25872.083330
10736,2012,WY,campbell,1211.666667,4.650000,2983,26118.416670
10737,2013,WY,campbell,1091.416667,4.241667,2612,25698.500000
10738,2014,WY,campbell,878.000000,3.358333,2573,26253.916670
10739,2015,WY,campbell,1022.916667,3.941667,2063,25866.583330
10740,2010,WY,converse,413.083333,5.458333,610,7568.500000
10741,2011,WY,converse,369.583333,4.825000,703,7658.666667
10742,2012,WY,converse,342.166667,4.291667,811,7976.000000
10743,2013,WY,converse,297.000000,3.658333,631,8107.833333
10744,2014,WY,converse,250.666667,3.008333,600,8339.416667
10745,2015,WY,converse,306.333333,3.675000,566,8331.916667
10746,2010,WY,niobrara,63.583333,4.583333,46,1387.000000
10747,2011,WY,niobrara,57.500000,4.125000,30,1394.000000
10748,2012,WY,niobrara,52.833333,3.833333,22,1380.833333
10749,2013,WY,niobrara,48.666667,3.541667,25,1380.250000
10750,2014,WY,niobrara,45.000000,3.333333,10,1350.916667
10751,2015,WY,niobrara,40.250000,3.033333,0,1330.166667
10752,2010,WY,sublette,332.666667,5.875000,314,5690.833333
10753,2011,WY,sublette,269.666667,4.608333,322,5901.833333
10754,2012,WY,sublette,272.000000,4.891667,191,5571.583333
10755,2013,WY,sublette,239.333333,4.733333,266,5081.500000
10756,2014,WY,sublette,208.333333,4.275000,172,4872.500000
10757,2015,WY,sublette,240.000000,5.250000,240,4579.833333