In [1]:
import pandas as pd

crimeCSV = "crimedata2.csv"
countiesCSV = "bls_counties.csv"

In [2]:
readCrime = pd.read_csv('crimedata2.csv')
readCounty = pd.read_csv('NumberUnemployed.csv')
secondCrime = pd.read_csv('CrimeData.csv')

In [22]:
readCrime['county'] = readCrime['county'].str.lower()
secondCrime['county'] = secondCrime['county'].str.lower()
readCounty['county'] = readCounty['county'].str.lower()
readCounty['county'] = readCounty['county'].map(lambda x: x.rstrip(' county'))
combCrime = readCrime.append(secondCrime)
combCrime.reset_index(inplace=True)
mergedDF = pd.merge(readCounty, combCrime, on=['state','county','Year'], how='inner')
mergedDF

,Unnamed: 0_x,Year,Average (Monthly) Number Unemployed,county,state,index,Unnamed: 0_y,count
0,0,2010,6005.750000,lee,AL,779,779,7107
1,1,2011,5503.583333,lee,AL,2260,2260,9148
2,2,2012,4671.250000,lee,AL,3741,3741,8036
3,3,2013,4144.250000,lee,AL,5222,5222,7441
4,4,2014,3987.000000,lee,AL,6703,6703,7671
5,5,2015,3719.083333,lee,AL,8184,8184,6934
6,6,2010,1020.416667,bibb,AL,98,98,658
7,7,2011,937.250000,bibb,AL,1579,1579,354
8,8,2012,750.666667,bibb,AL,3060,3060,608
9,9,2013,689.333333,bibb,AL,4541,4541,553
10,10,2014,616.666667,bibb,AL,6022,6022,403
11,11,2015,567.333333,bibb,AL,7503,7503,385
12,18,2010,1947.750000,dale,AL,345,345,2160
13,19,2011,1828.916667,dale,AL,1826,1826,3252
14,20,2012,1589.416667,dale,AL,3307,3307,2925
15,21,2013,1530.416667,dale,AL,4788,4788,3030
16,22,2014,1437.750000,dale,AL,6269,6269,3159
17,23,2015,1261.666667,dale,AL,7750,7750,2641
18,24,2010,971.666667,hale,AL,547,547,362
19,25,2011,869.666667,hale,AL,2028,2028,10
20,26,2012,713.083333,hale,AL,3509,3509,232
21,27,2013,721.500000,hale,AL,4990,4990,355
22,28,2014,595.583333,hale,AL,6471,6471,226
23,29,2015,470.333333,hale,AL,7952,7952,88
24,30,2010,1478.916667,pike,AL,1076,1076,2865
25,31,2011,1368.083333,pike,AL,2557,2557,2466
26,32,2012,1197.666667,pike,AL,4038,4038,2595
27,33,2013,1138.833333,pike,AL,5519,5519,2534
28,34,2014,1101.166667,pike,AL,7000,7000,2757
29,35,2015,983.166667,pike,AL,8481,8481,2528
...,...,...,...,...,...,...,...,...
10656,17952,2010,2784.250000,natrona,WY,916,916,6010
10657,17953,2011,2494.750000,natrona,WY,2312,2312,5268
10658,17954,2012,2145.500000,natrona,WY,3708,3708,5017
10659,17955,2013,1954.500000,natrona,WY,5104,5104,5074
10660,17956,2014,1742.916667,natrona,WY,6500,6500,4213
10661,17957,2015,2113.000000,natrona,WY,7896,7896,4559
10662,17964,2010,1586.500000,campbell,WY,162,162,2454
10663,17965,2011,1266.916667,campbell,WY,1558,1558,2261
10664,17966,2012,1211.666667,campbell,WY,2954,2954,2983
10665,17967,2013,1091.416667,campbell,WY,4350,4350,2612
10666,17968,2014,878.000000,campbell,WY,5746,5746,2573
10667,17969,2015,1022.916667,campbell,WY,7142,7142,2063
10668,17970,2010,413.083333,converse,WY,276,276,610
10669,17971,2011,369.583333,converse,WY,1672,1672,703
10670,17972,2012,342.166667,converse,WY,3068,3068,811
10671,17973,2013,297.000000,converse,WY,4464,4464,631
10672,17974,2014,250.666667,converse,WY,5860,5860,600
10673,17975,2015,306.333333,converse,WY,7256,7256,566
10674,17976,2010,63.583333,niobrara,WY,930,930,46
10675,17977,2011,57.500000,niobrara,WY,2326,2326,30
10676,17978,2012,52.833333,niobrara,WY,3722,3722,22
10677,17979,2013,48.666667,niobrara,WY,5118,5118,25
10678,17980,2014,45.000000,niobrara,WY,6514,6514,10
10679,17981,2015,40.250000,niobrara,WY,7910,7910,0
10680,17988,2010,332.666667,sublette,WY,1201,1201,314
10681,17989,2011,269.666667,sublette,WY,2597,2597,322
10682,17990,2012,272.000000,sublette,WY,3993,3993,191
10683,17991,2013,239.333333,sublette,WY,5389,5389,266
10684,17992,2014,208.333333,sublette,WY,6785,6785,172
10685,17993,2015,240.000000,sublette,WY,8181,8181,240